<div class="col-lg-3 col-sm-4 col-xs-12">
  <div class="card">
    <img src="{{this.imgPath}}" alt="{{this.name}}" style="width:100%">
    <div class="card-container" data-cluster="{{this.decaCluster}}">
      <h1 class="text medium normal left bold dark toppad">{{this.name}}</h1>
      <h1 class="text small normal left dark"><i>{{this.position}} | {{this.decaEvent}}</i></h1>
    <!---  <p class="text small thin left dark toppadd"> {{this.decaCluster}}</p> --->
      <blockquote class="small right padfix"><i>{{this.favQuote}}</i></blockquote>
    </div>
  </div>
</div>

<style media="screen">
[data-cluster="Business Admin"] {
  background-color: #fbcf62;
}
[data-cluster="Marketing"] {
  background-color: #db6a66;
}
[data-cluster="Hospitality"] {
  background-color: #4d8bb5;
}
[data-cluster="Finance"] {
  background-color: #47a972;
}
.toppad{
  padding-top: 5px;
}
.toppadd{
  padding-top: 10px;
}
.padfix{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
}
.widthfix{
  width: 45%;
}
</style>
